.projects {
  margin: 30px;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 30px;

  @include widescreen {
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    border-radius: 15px;

    &:hover {
      .projects__item-image {
        transform: scale(1.05);
      }
    }
  }

  // &__item-link {}

  &__item-image-wrapper {
    overflow: hidden;
  }

  &__item-image {
    display: block;
    width: 100%;
    transition: 0.3s transform ease-out;
  }

  &__item-text {
    padding: 20px 0;
    line-height: 1.25;
  }

  &__item-title {
    letter-spacing: 0.01em;
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__item-description {
    margin-top: 10px;
  }
}
